:focus {
  outline: none !important;
}

.circle {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  margin-bottom: 10px;
  cursor: pointer;
}

.background {
  width: 100vw;
  position: absolute;
  height: 40vh;
  bottom: 0;
  left: 0;
  background: rgb(228, 228, 228);
  z-index: -1;
}
