<div class="">
  <!-- <div class="red flex flex-col p-5 sidebar" style="width: 300px; height: 100vh; position: fixed;">
    <h1 class="white-text text-4xl mb-5">Menu</h1>
    <div class="card p-5 meal-card" [routerLink]="set.route" routerLinkActive="active" *ngFor="let set of sets">
      <img [src]="set.image" alt="">
      <h1 class="text-3xl font-semibold my-2">{{ set.name }}</h1>
      <ul>
        <li class="text-gray-500" *ngFor="let item of set.includes">{{ item }}</li>
      </ul>
    </div>
  </div> -->
  <div class="content flex-1" [@routeAnimations]="prepareRoute(outlet)">
    <router-outlet #outlet="outlet"></router-outlet>
  </div>
</div>