.meal-card {
  cursor: pointer;
  transition: transform 0.5s ease-in-out;
  &:hover {
    transform: scale(1.05);
  }

  &.active {
    transform: scale(1.05);
  }
}

.sidebar {
  overflow-y: scroll;
  overflow-x: visible;
}

:focus {
  outline: none !important;
}

.background {
  width: 100vw;
  position: absolute;
  height: 40vh;
  bottom: 0;
  left: 0;
  background: rgb(228, 228, 228);
  z-index: -1;
}
